:root{
    --vermelho: #E50914;
    --preto: #141414;
    --cinza: #AAA;
    --branco: #fff;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


/*elementos base*/

body{
    background-color: var(--preto);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--branco);
}

header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
    margin-left: 5px;
}

header .nav-bar{
    margin-top: 10px;
}

header nav a{
    text-decoration:none;
    color: var(--cinza);
    margin-right: 10px;
}

header nav a:hover{
    color: var(--branco);
}

/*filme principal*/

.filme-principal{
    font-style: 16px;
    background: linear-gradient(rgba(0,0,0,.60),rgba(0,0,0,.60)100%), url('https://felippeabdalla.github.io/disneyflix/img/wanda-capa.jpg');
    background-size:cover;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 180px;
}

.filme-principal .titulo{
    font-size: 50px;

}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: var(--branco);
    padding: 10px;
    margin-right: 10px;
    font-size: 12px;
    cursor: pointer;
    transition: .5s ease all;
}

.botao:hover{
    background-color: var(--branco);
    color: var(--preto)
}

.botao i{
    margin-right: 5px;
}

.container{
    margin-left: 10px;
    margin-right: 10px;
}

.filme-principal .container {
    width: 70%;
}

.box-filme{
    height: 50%;
    width: 50%;
    display: block;
    transition: .5s ease all;
}

.carrosel-filmes {
    margin-top: 5px;
}

.carrosel-filmes2 {
    margin-top: 5px;
}

.box-filme:hover{
    transform: scale(1.1);
    
